

  <div class="wrapper__content overall-ratings">
    <div class="overall-ratings__container">
      <h2 class="overall-ratings__container-header">Лучшие институты и факультеты</h2>
      <div class="overall-ratings__container-content entity-container">
        <a class="overall-ratings__container-content-item entity-container__item" href="#">
          <img alt="alt" class=" entity-container__img" src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">
          <div class=" entity-container__name">Институт электроники и светотехники</div>
        </a>
        <a class="overall-ratings__container-content-item entity-container__item" href="#">
          <img alt="alt" class=" entity-container__img" src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">
          <div class=" entity-container__name">Институт электроники и светотехники</div>
        </a>
        <a class="overall-ratings__container-content-item entity-container__item" href="#">
          <img alt="alt" class=" entity-container__img" src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">
          <div class=" entity-container__name">Институт электроники и светотехники</div>
        </a>
      </div>
    </div>

    <div class="overall-ratings__container">
      <h2 class="overall-ratings__container-header">Лучшие кафедры</h2>
      <div class="overall-ratings__container-content entity-container">
        <a class="overall-ratings__container-content-item entity-container__item" href="#">
          <img alt="alt" class=" entity-container__img" src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">
          <div class=" entity-container__name">Институт электроники и светотехники</div>
        </a>
        <a class="overall-ratings__container-content-item entity-container__item" href="#">
          <img alt="alt" class=" entity-container__img" src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">
          <div class=" entity-container__name">Институт электроники и светотехники</div>
        </a>
        <a class="overall-ratings__container-content-item entity-container__item" href="#">
          <img alt="alt" class=" entity-container__img" src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">
          <div class=" entity-container__name">Институт электроники и светотехники</div>
        </a>
      </div>
    </div>

    <div class="overall-ratings__container">
      <h2 class="overall-ratings__container-header">Лучшие преподаватели </h2>
      <div class="overall-ratings__container-content entity-container">
        <a class="overall-ratings__container-content-item entity-container__item" href="#">
          <img alt="alt" class=" entity-container__img" src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">
          <div class=" entity-container__name">Институт электроники и светотехники</div>
        </a>
        <a class="overall-ratings__container-content-item entity-container__item" href="#">
          <img alt="alt" class=" entity-container__img" src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">
          <div class=" entity-container__name">Институт электроники и светотехники</div>
        </a>
        <a class="overall-ratings__container-content-item entity-container__item" href="#">
          <img alt="alt" class=" entity-container__img" src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">
          <div class=" entity-container__name">Институт электроники и светотехники</div>
        </a>
      </div>
    </div>
  </div>
