<!--<div class="wrapper__content information">-->
  <div class="information__general-info general-info">
    <img alt=""
         class="general-info__img logo__img logo__img--big"
         src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">
    <h1 class="general-info__name ">alma mf 13</h1>
    <div class="general-info__main-words">
      <span class="general-info__word">Свобода</span>
      <span class="general-info__word">Честность</span>
      <span class="general-info__word">Анонимность</span>
      <span class="general-info__word">Прозрачность</span>
    </div>

    <p class="general-info__short-description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus aliquam amet autem beatae consequatur deserunt distinctio est et ex fugit id illo ipsa
      laboriosam libero magni mollitia, necessitatibus neque nihil nobis non nostrum officiis perferendis
      possimus quaerat quas quasi qui quibusdam quis quo repellat sed soluta suscipit tempora tempore
      veritatis vero voluptatem? Culpa dicta doloribus enim nulla officia similique ut veniam voluptas
      voluptate. A blanditiis, cum debitis dicta dolor dolore esse impedit, magni nihil nisi non nostrum
      obcaecati quo unde ut vel velit! A consequatur dolorum ipsa laborum odit. Expedita illo laborum magnam
      nulla officiis. Cum magni modi molestias voluptatem?
    </p>
  </div>

  <div class="information__usage usage">
    <div class="usage__item">
      <div class="usage__label">Для Студентов</div>
      <div class="usage__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam eum
        ipsam maiores officia porro saepe.
      </div>
    </div>

    <div class="usage__item">
      <div class="usage__label">Для Абитуриентов</div>
      <div class="usage__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam eum
        ipsam maiores officia porro saepe.
      </div>
    </div>

    <div class="usage__item">
      <div class="usage__label">Для Выпустившихся</div>
      <div class="usage__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam eum
        ipsam maiores officia porro saepe.
      </div>
    </div>


  </div>

  <div class="information__summary summary">
    <h2 class="summary__label">Общая Статистика</h2>

    <div class="summary__item">
      <div class="summary__content">
        <div class="summary__value">42</div>
        <div class="summary__property">Студента</div>
      </div>

      <div class="summary__description">Дели обратную связь по преподавателям</div>
    </div>

    <div class="summary__item">
      <div class="summary__content">
        <div class="summary__value">42</div>
        <div class="summary__property">Преподавателя</div>
      </div>
      <div class="summary__description">Получили положительный отзыв от студентов и выпускников</div>
    </div>

    <div class="summary__item">
      <div class="summary__content">
        <div class="summary__value">42</div>
        <div class="summary__property">Историй</div>
      </div>
      <div class="summary__description">Было опубликованно</div>
    </div>

    <div class="summary__item">
      <div class="summary__content">
        <div class="summary__value">42</div>
        <div class="summary__property">Комментария</div>
      </div>
      <div class="summary__description">Было оценено обучающимися</div>
    </div>


  </div>
<!--</div>-->
