

@import "styles/wrapper";
@import "styles/main-menu";
@import "styles/general-info";
@import "styles/user";
@import "styles/logo";
@import "styles/header";
@import "styles/main-body";
@import "styles/kebab-nav";
@import "styles/footer";
@import "styles/information";
@import "styles/usage";
@import "styles/summary";
@import "styles/ins-faculties";
@import "styles/filtres";
@import "styles/search-block";
@import "styles/search";
@import "styles/entity-container";

:root {
  --attent-bg-color:rgba(40, 46, 106, .8);
  --primary-bg-color: #FAEBD7FF;
  --info-bg-color: #525F7F;
  --primary-text-color: #fff;
  --heading-text-color:#32325D;
  --secondary-color: #11CDEF;
  --info-text-color: #525F7F;
}
*,:before,:after{
  box-sizing: border-box!important;
}

