
@import "styles/wrapper";
@import "styles/button";
@import "styles/department-container";
@import "styles/entity-container";
@import "styles/filtres";
@import "styles/main-menu";
@import "styles/general-info";
@import "styles/user";
@import "styles/logo";
@import "styles/inputs";
@import "styles/ins-faculties";
@import "styles/header";
@import "styles/main-body";
@import "styles/main-info";
@import "styles/kebab-nav";
@import "styles/footer";
@import "styles/information";
@import "styles/usage";
@import "styles/summary";
@import "styles/rating";
@import "styles/search-block";
@import "styles/statistic-info";
@import "styles/teacher-container";
@import "styles/teachers-container";
@import "styles/total-stats";
@import "styles/criteria";
@import "styles/icon";


:root {
  --attent-bg-color:rgba(40, 46, 106, .8);
  --primary-bg-color: #FAEBD7FF;
  --info-bg-color: #525F7F;
  --primary-text-color: #fff;
  --heading-text-color:#32325D;
  --secondary-color: #11CDEF;
  --info-text-color: #525F7F;
}
*,:before,:after{
  box-sizing: border-box!important;
}

