@charset "UTF-8";
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  /*max-width: 90%;*/
  background-color: var(--primary-bg-color);
}
.wrapper__header {
  padding: 16px 24px;
}
.wrapper__content {
  flex: 1;
  padding: 24px 0;
  width: 90%;
  margin: auto;
}
.button:hover {
  cursor: pointer;
}
.button--link {
  appearance: none;
  border: none;
  background: none;
  color: #fff;
}
.button--icon {
  appearance: none;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  color: #fff;
}
.button--icon--active, .button--icon:hover {
  color: red;
}

.entity-container__item {
  box-sizing: border-box;
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr;
  grid-template-rows: 240px 100px;
  text-decoration: none;
  cursor: pointer;
  padding: 8px;
  border: 1px solid var(--info-bg-color);
  background: var(--info-bg-color);
  border-radius: 16px;
}
.entity-container__item:hover {
  background: var(--secondary-color);
}
.entity-container__item:hover .entity-container__name {
  color: var(--info-text-color);
}
.entity-container__img {
  margin: 0 auto;
  width: 240px;
  height: 240px;
  border-radius: 25%;
}
.entity-container__name {
  text-align: center;
  text-decoration: none;
  color: var(--primary-text-color);
}

.filters {
  background: var(--info-bg-color);
}
.filters__container {
  border-top: 1px solid var(--primary-text-color);
}
.filters__label {
  color: var(--primary-text-color);
  padding: 8px 0;
  min-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
.filters__label--mini {
  min-height: 30px;
  font-size: 14px;
}
.filters__item {
  display: block;
  padding: 14px;
  color: var(--primary-text-color);
}
.filters__item:hover {
  background: var(--secondary-color);
  cursor: pointer;
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
.main-menu__item {
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  word-break: normal;
  color: var(--primary-text-color);
}
.main-menu__item:after {
  display: block;
  position: relative;
  width: 0;
  height: 1px;
  background-color: var(--primary-text-color);
  content: "";
}
.main-menu__item:hover:after {
  transition: width 0.3s ease-out;
  width: 100%;
  height: 1px;
}
.main-menu__item--active:after {
  width: 100%;
  height: 1px;
}
@media screen and (max-width: 680px) {
  .main-menu__item {
    display: none;
  }
}
@media screen and (min-width: 680px) and (max-width: 1075px) {
  .main-menu__item {
    display: none;
  }
}
.general-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.general-info__img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  align-items: center;
  border-radius: 50%;
}
.general-info__name {
  color: var(--heading-text-color);
  text-align: center;
  text-transform: uppercase;
}
.general-info__main-words {
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  gap: 12px;
}
.general-info__word {
  font-weight: 600;
}
.general-info__short-description {
  text-align: center;
}

.user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: var(--primary-text-color);
}
.user__name {
  text-decoration: none;
  text-transform: uppercase;
  font: 20px/24px Roboto;
  color: var(--primary-text-color);
  font-weight: 400;
  margin: 0 0;
  flex-shrink: 0;
  max-width: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.user__img {
  width: 40px;
  height: 40px;
  background-size: cover;
  border-radius: 25%;
  object-fit: cover;
}
.user__img--large {
  width: 160px;
  height: 160px;
}
.user__img--big {
  width: 60px;
  height: 60px;
}
.user__img--small {
  width: 32px;
  height: 32px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-start;
  max-height: 40px;
  text-decoration: none;
  color: var(--primary-text-color);
}
.logo__img {
  width: 40px;
  height: 40px;
  background-size: cover;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}
.logo__img--big {
  width: 150px;
  height: 150px;
}
.logo__name {
  text-decoration: none;
  text-transform: uppercase;
  font: 24px/24px Roboto;
  color: var(--primary-text-color);
  font-weight: 400;
  margin: 0 0;
  flex-shrink: 0;
}
.logo:hover {
  cursor: pointer;
}
.logo:focus {
  text-decoration: none;
}

.input {
  position: relative;
  display: flex;
}
.input__text {
  display: block;
  width: 100%;
  border: 0;
  border-radius: 8px;
  min-height: 32px;
  padding: 6px 8px;
}
.input__text:focus {
  padding: 5px 7px;
  outline: 0;
  border: 1px solid var(--info-text-color);
}
.input__text--big-size {
  padding: 8px 12px;
  min-height: 48px;
}
.input__text--big-size:focus {
  padding: 6px 10px;
  outline: 0;
  border: 2px solid var(--info-text-color);
}
.input__icon {
  color: var(--info-text-color);
  position: absolute;
  right: 1%;
  top: 20%;
}
.input__icon:hover {
  cursor: pointer;
}

.ins-faculties {
  display: grid;
  gap: 16px;
}
@media screen and (min-width: 680px) and (max-width: 1075px) {
  .ins-faculties__filters {
    display: none;
  }
}
@media screen and (min-width: 1075px) {
  .ins-faculties {
    grid-template-areas: "ins-faculties__filters ins-faculties__search-block";
    grid-template-columns: 300px 1fr;
  }
  .ins-faculties__filters {
    grid-area: ins-faculties__filters;
    border: 1px solid var(--info-bg-color);
    border-radius: 8px;
    max-height: 200px;
  }
  .ins-faculties__search-block {
    grid-area: ins-faculties__search-block;
  }
  .ins-faculties__search {
    position: sticky;
  }
}
.header {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--attent-bg-color);
  height: 72px;
}
.header__logo {
  flex: 1;
}
.header__main-menu {
  flex: 3;
}
.header__user {
  margin-left: auto;
  flex: 1;
}

.main-body {
  margin: 0 auto;
  font: 18px/20px "Roboto Light";
  color: var(--primary-text-color);
  scrollbar-color: #458245 #714826; /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin; /* толщина */
}

.main-info {
  display: grid;
}
.main-info__img {
  width: 240px;
  height: 240px;
  border-radius: 25%;
}
.main-info__content {
  display: grid;
  gap: 8px;
}
.main-info__content-container {
  display: grid;
}
.main-info__content-container-property {
  color: var(--primary-text-color);
  border-bottom: 1px dotted var(--primary-text-color);
}
.main-info__content-container-value {
  color: var(--primary-text-color);
}
.main-info__content-container-value--link {
  color: var(--primary-text-color);
  text-decoration: none;
}

@media screen and (max-width: 680px) {
  .main-info {
    grid-template-rows: 240px 1fr;
    grid-template-columns: 1fr;
    gap: 8px;
  }
  .main-info__img {
    margin: 0 auto;
  }
  .main-info__content-container {
    gap: 4px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 680px) and (max-width: 1075px) {
  .main-info {
    grid-template-columns: 240px 1fr;
    gap: 16px;
  }
  .main-info__content-container {
    gap: 4px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1075px) {
  .main-info {
    grid-template-areas: "main-info__img main-info__content";
    grid-template-columns: 240px 1fr;
    gap: 24px;
  }
  .main-info__img {
    grid-area: main-info__img;
  }
  .main-info__content {
    display: grid;
    grid-area: main-info__content;
  }
  .main-info__content-container {
    display: grid;
    gap: 4px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
}
.kebab-nav {
  flex: 1 1 0;
  justify-content: flex-end;
}
.kebab-nav__icon:hover {
  cursor: pointer;
}
.kebab-nav__container {
  display: grid;
  gap: 8px;
}
@media screen and (max-width: 680px) {
  .kebab-nav {
    display: flex;
  }
  .kebab-nav__item {
    display: none;
  }
}
@media screen and (min-width: 680px) and (max-width: 1075px) {
  .kebab-nav {
    display: flex;
  }
  .kebab-nav__item {
    display: none;
  }
}
@media screen and (min-width: 1075px) {
  .kebab-nav {
    display: none;
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--attent-bg-color);
  height: 72px;
}
.footer__context {
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.information__usage {
  justify-content: center;
}
.usage {
  display: flex;
  gap: 16px;
}
.usage__item {
  max-width: 240px;
  padding: 8px 16px;
  text-align: center;
  color: var(--primary-text-color);
  background: var(--info-bg-color);
  border: 1px solid var(--info-bg-color);
  border-radius: 8px;
}
.usage__description {
  margin: 12px 0;
}

@media screen and (max-width: 680px) {
  .usage {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}
.summary {
  display: grid;
  gap: 16px;
}
.summary__label {
  color: var(--heading-text-color);
  text-transform: uppercase;
  text-align: center;
}
.summary__item {
  gap: 8px;
  padding: 16px 8px;
  background: var(--info-bg-color);
  border: 1px solid var(--info-bg-color);
  border-radius: 18px;
}
.summary__item:nth-child(even) {
  margin-right: auto;
  justify-content: flex-end;
}
.summary__item:nth-child(odd) {
  margin-left: auto;
  justify-content: flex-start;
}
.summary__content {
  color: var(--primary-text-color);
  display: flex;
  gap: 16px;
}
.summary__description {
  color: var(--primary-text-color);
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rating__item {
  background: var(--secondary-color);
  text-align: center;
  padding: 8px;
  border-radius: 16px;
  min-height: 20px;
}

.search-block__entity-container {
  position: relative;
  padding: 16px 0;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(340px, 1fr));
}

.statistic-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.statistic-info__heading {
  font-size: 20px;
}
.statistic-info__content {
  display: flex;
  flex: 400px;
  gap: 8px;
}
.statistic-info__content-container {
  flex: 1;
  display: grid;
  gap: 16px;
}
.statistic-info__feadback {
  margin-left: auto;
  flex: 20px;
  padding: 8px;
  border: 1px solid var(--primary-text-color);
  border-radius: 8px;
}

@media screen and (max-width: 680px) {
  .statistic-info__heading {
    text-align: center;
  }
  .statistic-info__content {
    flex-direction: column;
  }
  .statistic-info__feadback {
    margin: 0 auto;
  }
}
@media screen and (min-width: 680px) and (max-width: 1075px) {
  .statistic-info__heading {
    text-align: center;
  }
  .statistic-info__feadback {
    margin: 0 auto;
  }
}
.teachers-container {
  display: grid;
}
@media screen and (min-width: 680px) and (max-width: 1075px) {
  .teachers-container__filters {
    display: none;
  }
}
@media screen and (min-width: 1075px) {
  .teachers-container {
    grid-template-areas: "teachers-container__filters teachers-container__search-block";
    grid-template-columns: 300px 1fr;
  }
  .teachers-container__filters {
    grid-area: teachers-container__filters;
    border: 1px solid var(--info-bg-color);
    border-radius: 8px;
  }
  .teachers-container__search-block {
    grid-area: teachers-container__search-block;
  }
  .teachers-container__search {
    position: sticky;
  }
}
.total-stats {
  position: relative;
  display: flex;
}
.total-stats__circle {
  width: 100%;
  height: 240px;
}
.total-stats__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 240px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.total-stats__content-value {
  font-size: 48px;
}
.total-stats__content-value--title {
  font-size: 16px;
}
.total-stats__content-value--number {
  font-size: 25px;
}

.criteria {
  display: grid;
  gap: 16px;
}
.criteria__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4px;
  border: 1px solid var(--primary-text-color);
  border-radius: 16px;
  padding: 4px 8px;
}
.criteria__container-property {
  text-align: left;
}
.criteria__container-value {
  display: table-cell;
  white-space: nowrap;
  text-align: center;
}
.link--cleared {
  color: var(--primary-text-color);
  text-decoration: none;
}

.tabs__navigation {
  display: flex;
}
.tabs__navigation-item {
  flex: 0 1 33.333%;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.tabs__navigation-item-text {
  position: relative;
  z-index: 2;
  border: 1px dotted var(--primary-text-color);
  padding: 4px;
  border-radius: 8px;
}
.tabs__container {
  position: relative;
}
.tabs__container-item {
  display: none;
  padding: 20px;
}
.tabs__container-item:target {
  display: grid;
  gap: 16px;
}
.tabs__container-item:before {
  content: "";
  width: 33%;
  position: absolute;
  top: -50px;
  height: 50px;
}
@media screen and (max-width: 680px) {
  .tabs__navigation {
    display: flex;
  }
  .tabs__navigation-item {
    flex: 0 1 33.333%;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  .tabs__navigation-item-text {
    position: relative;
    z-index: 2;
    border: 1px dotted var(--primary-text-color);
    padding: 4px;
    border-radius: 8px;
  }
  .tabs__container {
    position: relative;
  }
  .tabs__container-item {
    padding: 0;
  }
  .tabs__container-item:target {
    display: grid;
    gap: 8px;
  }
}
.feedback__container {
  display: grid;
  max-height: 50vh;
  overflow-y: auto;
}
.feedback__container-item {
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--primary-text-color);
}
.feedback__container-item--story {
  margin: 16px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 680px) {
  .feedback__container-item--story {
    margin: 16px auto;
    width: 99%;
  }
}
@media screen and (min-width: 680px) and (max-width: 1075px) {
  .feedback__container-item--story {
    margin: 16px auto;
    width: 90%;
  }
}
.estimates {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.estimates__person {
  margin-right: auto;
}
.story {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.story__author {
  margin-right: auto;
}
.story__content {
  width: 100%;
  display: grid;
  gap: 8px;
}
.story__content-topic {
  margin: 0;
}
.story__content-message {
  margin: 0;
  text-align: inherit;
}
.story__reactions {
  display: flex;
  gap: 8px;
  margin-left: auto;
}
.story__reactions-icon {
  padding: 8px;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.comment__author {
  margin-right: auto;
}
.comment__data {
  font-size: 14px;
  margin-left: auto;
}
.comment__reactions {
  display: flex;
  gap: 8px;
  margin-left: auto;
}
.comment__reactions-icon {
  padding: 8px;
}

.overall-ratings {
  display: grid;
  color: var(--primary-text-color);
}
.overall-ratings__container {
  padding: 16px;
  display: grid;
  background: var(--info-bg-color);
  border: 1px solid var(--info-bg-color);
  border-radius: 8px;
  grid-template-rows: 30px 1fr;
}
.overall-ratings__container-header {
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
}
.overall-ratings__container-content {
  display: grid;
  gap: 16px;
  justify-content: center;
}
.overall-ratings__container-content-item {
  max-width: 260px;
  max-height: 360px;
  border: 1px solid var(--primary-text-color);
}

@media screen and (max-width: 680px) {
  .overall-ratings {
    gap: 20px;
  }
  .overall-ratings__container {
    padding: 8px;
    gap: 8px;
  }
  .overall-ratings__container-header {
    margin: 0 auto;
  }
  .overall-ratings__container-content {
    gap: 16px;
  }
}
@media screen and (min-width: 680px) and (max-width: 1075px) {
  .overall-ratings {
    gap: 24px;
  }
  .overall-ratings__container {
    gap: 16px;
    padding: 16px;
  }
  .overall-ratings__container-content {
    gap: 12px;
  }
}
@media screen and (min-width: 1075px) {
  .overall-ratings {
    gap: 32px;
  }
  .overall-ratings__container {
    gap: 16px;
    padding: 16px;
  }
  .overall-ratings__container-content {
    gap: 12px;
  }
}
/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 8px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: var(--secondary-color);
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: var(--attent-bg-color);
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px var(--primary-text-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}

.detail-page-container {
  display: grid;
}
.detail-page-container__info-block {
  background: var(--info-bg-color);
  border: 1px solid var(--info-bg-color);
  border-radius: 8px;
  color: var(--primary-text-color);
}

@media screen and (max-width: 680px) {
  .detail-page-container {
    gap: 32px;
  }
  .detail-page-container__info-block {
    padding: 8px;
  }
}
@media screen and (min-width: 680px) and (max-width: 1075px) {
  .detail-page-container {
    gap: 24px;
  }
  .detail-page-container__info-block {
    padding: 8px;
  }
}
@media screen and (min-width: 1075px) {
  .detail-page-container {
    gap: 32px;
  }
  .detail-page-container__info-block {
    padding: 16px;
  }
}
:root {
  --attent-bg-color:rgba(40, 46, 106, .8);
  --primary-bg-color: #FAEBD7FF;
  --info-bg-color: #525F7F;
  --primary-text-color: #fff;
  --heading-text-color:#32325D;
  --secondary-color: #11CDEF;
  --info-text-color: #525F7F;
}

*, :before, :after {
  box-sizing: border-box !important;
}

/*# sourceMappingURL=style.css.map */
