
@import "styles/wrapper";
@import "styles/button";
@import "styles/department-container";
@import "styles/entity-container";
@import "styles/filtres";
@import "styles/main-menu";
@import "styles/general-info";
@import "styles/user";
@import "styles/logo";
@import "styles/input";
@import "styles/ins-faculties";
@import "styles/header";
@import "styles/main-body";
@import "styles/main-info";
@import "styles/kebab-nav";
@import "styles/footer";
@import "styles/information";
@import "styles/usage";
@import "styles/summary";
@import "styles/rating";
@import "styles/search-block";
@import "styles/statistic-info";
@import "styles/teachers-container";
@import "styles/total-stats";
@import "styles/criteria";
@import "styles/icon";
@import "styles/link";
@import "styles/tabs";
@import "styles/feedback";
@import "styles/estimates";
@import "styles/story";
@import "styles/comment";
@import "styles/overall-ratings";
@import "styles/scroll";
@import "styles/detail-page-container";
@import "styles/administration";
@import "styles/reaction";


:root {
  --attent-bg-color: #282E6ACC;
  --primary-bg-color: #FAEBD7FF;
  --info-bg-color: #525F7F;
  --primary-text-color: #fff;
  --heading-text-color:#32325D;
  --secondary-color: #11CDEF;
  --info-text-color: #525F7F;
  --negative-color:#BB2A1DC8;
  --positive-color:#458245;
}
*,:before,:after{
  box-sizing: border-box!important;
}

