
@import "styles/wrapper";
@import "styles/main-menu";
@import "styles/general-info";
@import "styles/user";
@import "styles/logo";
@import "styles/header";


:root {
  --primary-bg-color: #fff;
  --primary-text-color: #fff;
  --focused-text-color: #000;
}

