.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  /*max-width: 90%;*/
  background-color: var(--primary-bg-color);
}
.wrapper__header {
  padding: 16px 24px;
}
.wrapper__content {
  flex: 1;
  padding: 24px 0;
  width: 90%;
  margin: auto;
}
.main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
.main-menu__item {
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  word-break: normal;
  color: var(--primary-text-color);
}
.main-menu__item:after {
  display: block;
  position: relative;
  width: 0;
  height: 1px;
  background-color: var(--primary-text-color);
  content: "";
}
.main-menu__item:hover:after {
  transition: width 0.3s ease-out;
  width: 100%;
  height: 1px;
}
.main-menu__item--active:after {
  width: 100%;
  height: 1px;
}
@media screen and (min-width: 680px) and (max-width: 1075px) {
  .main-menu__item {
    display: none;
  }
}
.general-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.general-info__img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  align-items: center;
  border-radius: 50%;
}
.general-info__name {
  color: var(--heading-text-color);
  text-align: center;
  text-transform: uppercase;
}
.general-info__main-words {
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  gap: 12px;
}
.general-info__word {
  font-weight: 600;
}
.general-info__short-description {
  text-align: center;
}

.user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: var(--primary-text-color);
}
.user__name {
  text-decoration: none;
  text-transform: uppercase;
  font: 20px/24px Roboto;
  color: var(--primary-text-color);
  font-weight: 400;
  margin: 0 0;
  flex-shrink: 0;
}
.user__img {
  width: 40px;
  height: 40px;
  background-size: cover;
  border-radius: 25%;
  object-fit: cover;
}
.user__img--large {
  width: 160px;
  height: 160px;
}
.user__img--big {
  width: 60px;
  height: 60px;
}
.user__img--small {
  width: 32px;
  height: 32px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-start;
  max-height: 40px;
  text-decoration: none;
  color: var(--primary-text-color);
}
.logo__img {
  width: 40px;
  height: 40px;
  background-size: cover;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}
.logo__img--big {
  width: 150px;
  height: 150px;
}
.logo__name {
  text-decoration: none;
  text-transform: uppercase;
  font: 24px/24px Roboto;
  color: var(--primary-text-color);
  font-weight: 400;
  margin: 0 0;
  flex-shrink: 0;
}
.logo:hover {
  cursor: pointer;
}
.logo:focus {
  text-decoration: none;
}

.header {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--attent-bg-color);
  height: 72px;
}
.header__logo {
  flex: 1;
}
.header__main-menu {
  flex: 3;
}
.header__user {
  flex: 1;
}

.main-body {
  margin: 0 auto;
  font: 18px/20px "Roboto Light";
}

.kebab-nav {
  flex: 1 1 0;
  justify-content: flex-end;
}
.kebab-nav__icon:hover {
  cursor: pointer;
}
.kebab-nav__container {
  display: grid;
  gap: 8px;
}
@media screen and (min-width: 680px) and (max-width: 1075px) {
  .kebab-nav {
    display: flex;
  }
  .kebab-nav__item {
    display: none;
  }
}
@media screen and (min-width: 1075px) {
  .kebab-nav {
    display: none;
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--attent-bg-color);
  height: 72px;
}
.footer__context {
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.information__usage {
  justify-content: center;
}
.usage {
  display: flex;
  gap: 16px;
}
.usage__item {
  max-width: 240px;
  padding: 8px 16px;
  text-align: center;
  color: var(--primary-text-color);
  background: var(--info-bg-color);
  border: 1px solid var(--info-bg-color);
  border-radius: 8px;
}
.usage__description {
  margin: 12px 0;
}

@media screen and (max-width: 680px) {
  .usage {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}
.summary {
  display: grid;
  gap: 16px;
}
.summary__label {
  color: var(--heading-text-color);
  text-transform: uppercase;
  text-align: center;
}
.summary__item {
  gap: 8px;
  padding: 16px 8px;
  background: var(--info-bg-color);
  border: 1px solid var(--info-bg-color);
  border-radius: 18px;
}
.summary__item:nth-child(even) {
  margin-right: auto;
  justify-content: flex-end;
}
.summary__item:nth-child(odd) {
  margin-left: auto;
  justify-content: flex-start;
}
.summary__content {
  color: var(--primary-text-color);
  display: flex;
  gap: 16px;
}
.summary__description {
  color: var(--primary-text-color);
}

.filters {
  background: var(--info-bg-color);
}
.filters__container {
  border-top: 1px solid var(--primary-text-color);
}
.filters__label {
  color: var(--primary-text-color);
  padding: 8px 0;
  min-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
.filters__label--mini {
  min-height: 30px;
  font-size: 14px;
}
.filters__item {
  display: block;
  padding: 14px;
  color: var(--primary-text-color);
}
.filters__item:hover {
  background: var(--secondary-color);
  cursor: pointer;
}

.search-block__entity-container {
  position: relative;
  padding: 16px 0;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(340px, 1fr));
}

.entity-container__item {
  box-sizing: border-box;
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr;
  grid-template-rows: 240px 100px;
  text-decoration: none;
  cursor: pointer;
  padding: 8px;
  border: 1px solid var(--info-bg-color);
  border-radius: 16px;
}
.entity-container__item:hover {
  background: var(--secondary-color);
}
.entity-container__item:hover .entity-container__name {
  color: var(--primary-text-color);
}
.entity-container__img {
  margin: 0 auto;
  width: 240px;
  height: 240px;
  border-radius: 25%;
}
.entity-container__name {
  text-align: center;
  text-decoration: none;
  color: var(--info-text-color);
}

.inputs__input--text {
  display: block;
  width: 100%;
  border: 0;
  border-radius: 8px;
  min-height: 32px;
  padding: 6px 8px;
}
.inputs__input--text:focus {
  padding: 5px 7px;
  outline: 0;
  border: 1px solid var(--info-text-color);
}
.inputs__input--text--big-size {
  padding: 8px 12px;
  min-height: 48px;
}
.inputs__input--text--big-size:focus {
  padding: 6px 10px;
  outline: 0;
  border: 2px solid var(--info-text-color);
}
.inputs__icon {
  position: relative;
  left: 70%;
}

.teacher-container {
  display: grid;
  gap: 32px;
}
.teacher-container__info-block {
  background: var(--info-bg-color);
  border: 1px solid var(--info-bg-color);
  border-radius: 8px;
  color: var(--primary-text-color);
}

@media screen and (max-width: 680px) {
  .teacher-container {
    display: grid;
    gap: 32px;
  }
  .teacher-container__info-block {
    padding: 8px;
  }
}
@media screen and (min-width: 680px) and (max-width: 1075px) {
  .teacher-container {
    display: grid;
    gap: 32px;
  }
  .teacher-container__info-block {
    padding: 16px;
  }
}
@media screen and (min-width: 1075px) {
  .teacher-container {
    display: grid;
    gap: 32px;
  }
  .teacher-container__info-block {
    padding: 16px;
  }
}
.main-info {
  display: grid;
}
.main-info__img {
  width: 240px;
  height: 240px;
  border-radius: 25%;
}
.main-info__content {
  display: grid;
}
.main-info__content-container {
  display: grid;
}
.main-info__content-container-property {
  color: var(--primary-text-color);
  border-bottom: 1px dotted var(--primary-text-color);
}
.main-info__content-container-value {
  color: var(--primary-text-color);
}
.main-info__content-container-value--link {
  color: var(--primary-text-color);
  text-decoration: none;
}

@media screen and (max-width: 680px) {
  .main-info {
    grid-template-rows: 240px 1fr;
    grid-template-columns: 1fr;
    gap: 8px;
  }
  .main-info__img {
    margin: 0 auto;
  }
  .main-info__content-container {
    gap: 4px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 680px) and (max-width: 1075px) {
  .main-info {
    grid-template-columns: 240px 1fr;
    gap: 16px;
  }
  .main-info__content-container {
    gap: 4px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1075px) {
  .main-info {
    grid-template-areas: "main-info__img main-info__content";
    grid-template-columns: 240px 1fr;
    gap: 24px;
  }
  .main-info__img {
    grid-area: main-info__img;
  }
  .main-info__content {
    display: grid;
    grid-area: main-info__content;
  }
  .main-info__content-container {
    display: grid;
    gap: 4px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
}
.statistic-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.statistic-info__content {
  display: flex;
  flex: 400px;
  background: red;
  gap: 8px;
}
.statistic-info__content-container {
  flex: 1;
  display: grid;
  padding: 8px;
  gap: 8px;
}
.statistic-info__feadback {
  margin-left: auto;
  flex: 20px;
  padding: 8px;
  border: 1px solid var(--primary-text-color);
  border-radius: 8px;
}

.button--link {
  appearance: none;
  border: none;
  background: none;
  color: #fff;
}
.button--icon {
  appearance: none;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  color: #fff;
}
.button--icon--active, .button--icon:hover {
  color: red;
}

.criteria {
  display: grid;
  gap: 16px;
}
.criteria__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.criteria__container-property {
  text-align: center;
  display: table-cell;
  white-space: nowrap;
}
:root {
  --attent-bg-color:rgba(40, 46, 106, .8);
  --primary-bg-color: #FAEBD7FF;
  --info-bg-color: #525F7F;
  --primary-text-color: #fff;
  --heading-text-color:#32325D;
  --secondary-color: #11CDEF;
  --info-text-color: #525F7F;
}

*, :before, :after {
  box-sizing: border-box !important;
}

/*# sourceMappingURL=teacher-detail-page.css.map */
