<div class="wrapper__content detail-page-container">

  <div class="detail-page-container__info-block main-info">
    <img alt="" class="main-info__img"
         src="{{user?.image_url}}"/>
    <div class="main-info__content">
      <h2 class="main-info__content-heading">{{user?.nick}}</h2>
      <i class="main-info__icon fa-solid fa-pen-to-square"></i>

      <div class="main-info__content-container">
        <div class="main-info__content-container-property">Направление</div>
        <div class="main-info__content-container-value">{{user?.direction ? user?.direction : 'Не указано'}}</div>
      </div>
      <div class="main-info__content-container">
        <div class="main-info__content-container-property">Курс обучения</div>
        <div class="main-info__content-container-value">{{user?.course ? user?.course : 'Не указано'}}</div>
      </div>
      <div class="main-info__content-container">
        <div class="main-info__content-container-property">Профессионально-квалификационная степень</div>
        <div class="main-info__content-container-value">{{user?.degree ? user?.degree : 'Не указано'}}</div>
      </div>

      <div class="main-info__content-container">
        <div class="main-info__content-container-property">Чисто для примера</div>
        <div class="main-info__content-container-value">Не указано</div>
      </div>

    </div>
  </div>
  <div class="detail-page-container__info-block statistic-info">
    <h2 class="statistic-info__heading">Моя статистика</h2>
    <div class="statistic-info__content">
      <div class="statistic-info__content-container">
        <div class="statistic-info__content-container-total-stats total-stats">
          <svg class="total-stats__circle">
            <circle cx="calc(50%)" cy="calc(50%)" fill="none" r="110" stroke="var(--secondary-color)"
                    stroke-width="9"></circle>

          </svg>
          <div class="total-stats__content">
            <div class="total-stats__content-value">
              5.0
            </div>
            <div class="total-stats__content-value total-stats__content-value--title">
              Средняя характеристика
            </div>

            <!--                            TODO: Спросить я не уверен, что я так надо... тут же будет просто переключения таба-->
            <a class="total-stats__content-value total-stats__content-value--number link link--cleared"
               href="#">
              50 Отзывов
            </a>

          </div>
        </div>

      </div>
      <div class="statistic-info__content-container">
        <div class="statistic-info__content-container-criteria criteria">
          <div class="criteria__container">
                            <span class="criteria__container-property">
                                Предметная компетенция
                            </span>
            <div class="criteria__container-value">
              <i class="criteria__container-value-stars fa-regular fa-star"></i>
              <i class="criteria__container-value-stars fa-regular fa-star"></i>
              <i class="criteria__container-value-stars fa-regular fa-star"></i>
              <i class="criteria__container-value-stars fa-regular fa-star"></i>
              <i class="criteria__container-value-stars fa-regular fa-star"></i>
            </div>
          </div>
          <div class="criteria__container">
            <div class="criteria__container-property">
              Объективность оценки знаний студентов
            </div>
            <div class="criteria__container-value">
              <i class="criteria__container-value-stars fa-regular fa-star"></i>
              <i class="criteria__container-value-stars fa-regular fa-star"></i>
              <i class="criteria__container-value-stars fa-regular fa-star"></i>
              <i class="criteria__container-value-stars fa-regular fa-star"></i>
              <i class="criteria__container-value-stars fa-regular fa-star"></i>
            </div>
          </div>
          <div class="criteria__container">
            <div class="criteria__container-property">
              Ясность излагаемого материала
            </div>
            <div class="criteria__container-value">
              <i class="criteria__container-value-stars fa-regular fa-star"></i>
              <i class="criteria__container-value-stars fa-regular fa-star"></i>
              <i class="criteria__container-value-stars fa-regular fa-star"></i>
              <i class="criteria__container-value-stars fa-regular fa-star"></i>
              <i class="criteria__container-value-stars fa-regular fa-star"></i>
            </div>
          </div>
          <div class="criteria__container">
            <div class="criteria__container-property">
              Знание возможностей новых информационных технологий и умение использовать их в
              процессе
              обучения
            </div>
            <div class="criteria__container-value">
              <i class="criteria__container-value-stars fa-regular fa-star"></i>
              <i class="criteria__container-value-stars fa-regular fa-star"></i>
              <i class="criteria__container-value-stars fa-regular fa-star"></i>
              <i class="criteria__container-value-stars fa-regular fa-star"></i>
              <i class="criteria__container-value-stars fa-regular fa-star"></i>
            </div>
          </div>
          <div class="criteria__container">
            <div class="criteria__container-property">
              Толерантное отношение к студенту
            </div>
            <div class="criteria__container-value">
              <i class="criteria__container-value-stars fa-regular fa-star"></i>
              <i class="criteria__container-value-stars fa-regular fa-star"></i>
              <i class="criteria__container-value-stars fa-regular fa-star"></i>
              <i class="criteria__container-value-stars fa-regular fa-star"></i>
              <i class="criteria__container-value-stars fa-regular fa-star"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--  <div class="detail-page-container__info-block tabs">-->

<!--    <nav class="tabs__navigation">-->
<!--      <a class="tabs__navigation-item link link&#45;&#45;cleared" href="#tab01">-->
<!--        <span class="tabs__navigation-item-text">Оценки</span>-->
<!--      </a>-->
<!--      <a class="tabs__navigation-item link link&#45;&#45;cleared" href="#tab02">-->
<!--        <span class="tabs__navigation-item-text">Истории</span>-->
<!--      </a>-->
<!--      <a class="tabs__navigation-item link link&#45;&#45;cleared" href="#tab03">-->
<!--        <span class="tabs__navigation-item-text">Коментарии</span>-->
<!--      </a>-->
<!--    </nav>-->
<!--    <div class="tabs__container">-->
<!--      <div class="tabs__container-item feedback" id="tab01">-->
<!--        &lt;!&ndash;                    <label class="feedback__input input">&ndash;&gt;-->
<!--        &lt;!&ndash;                        <input class="input__text"/>&ndash;&gt;-->
<!--        &lt;!&ndash;                        <span class="input__icon">X</span>&ndash;&gt;-->
<!--        &lt;!&ndash;                    </label>&ndash;&gt;-->
<!--        <div class="feedback__container">-->
<!--          <div class="feedback__container-item estimates">-->
<!--            &lt;!&ndash;                            Мб это переделать, хотя вроде норм&ndash;&gt;-->
<!--            <div class="estimates__person user">-->

<!--              <img alt="avatar" class="user__img"-->
<!--                   src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">-->
<!--              <h2 class="user__name">-->
<!--                афонин виктор васильевич-->
<!--              </h2>-->
<!--            </div>-->
<!--            <div class="estimates__content criteria">-->
<!--              <div class="criteria__container">-->
<!--                            <span class="criteria__container-property">-->
<!--                                Предметная компетенция-->
<!--                            </span>-->
<!--                <div class="criteria__container-value">-->
<!--                  <i class="criteria__container-value-stars fa-regular fa-star"></i>-->
<!--                  <i class="criteria__container-value-stars fa-regular fa-star"></i>-->
<!--                  <i class="criteria__container-value-stars fa-regular fa-star"></i>-->
<!--                  <i class="criteria__container-value-stars fa-regular fa-star"></i>-->
<!--                  <i class="criteria__container-value-stars fa-regular fa-star"></i>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="criteria__container">-->
<!--                <div class="criteria__container-property">-->
<!--                  Объективность оценки знаний студентов-->
<!--                </div>-->
<!--                <div class="criteria__container-value">-->
<!--                  <i class="criteria__container-value-stars fa-regular fa-star"></i>-->
<!--                  <i class="criteria__container-value-stars fa-regular fa-star"></i>-->
<!--                  <i class="criteria__container-value-stars fa-regular fa-star"></i>-->
<!--                  <i class="criteria__container-value-stars fa-regular fa-star"></i>-->
<!--                  <i class="criteria__container-value-stars fa-regular fa-star"></i>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="criteria__container">-->
<!--                <div class="criteria__container-property">-->
<!--                  Ясность излагаемого материала-->
<!--                </div>-->
<!--                <div class="criteria__container-value">-->
<!--                  <i class="criteria__container-value-stars fa-regular fa-star"></i>-->
<!--                  <i class="criteria__container-value-stars fa-regular fa-star"></i>-->
<!--                  <i class="criteria__container-value-stars fa-regular fa-star"></i>-->
<!--                  <i class="criteria__container-value-stars fa-regular fa-star"></i>-->
<!--                  <i class="criteria__container-value-stars fa-regular fa-star"></i>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="criteria__container">-->
<!--                <div class="criteria__container-property">-->
<!--                  Знание возможностей новых информационных технологий и умение использовать их в-->
<!--                  процессе-->
<!--                  обучения-->
<!--                </div>-->
<!--                <div class="criteria__container-value">-->
<!--                  <i class="criteria__container-value-stars fa-regular fa-star"></i>-->
<!--                  <i class="criteria__container-value-stars fa-regular fa-star"></i>-->
<!--                  <i class="criteria__container-value-stars fa-regular fa-star"></i>-->
<!--                  <i class="criteria__container-value-stars fa-regular fa-star"></i>-->
<!--                  <i class="criteria__container-value-stars fa-regular fa-star"></i>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="criteria__container">-->
<!--                <div class="criteria__container-property">-->
<!--                  Толерантное отношение к студенту-->
<!--                </div>-->
<!--                <div class="criteria__container-value">-->
<!--                  <i class="criteria__container-value-stars fa-regular fa-star"></i>-->
<!--                  <i class="criteria__container-value-stars fa-regular fa-star"></i>-->
<!--                  <i class="criteria__container-value-stars fa-regular fa-star"></i>-->
<!--                  <i class="criteria__container-value-stars fa-regular fa-star"></i>-->
<!--                  <i class="criteria__container-value-stars fa-regular fa-star"></i>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->


<!--        </div>-->
<!--      </div>-->
<!--      <div class="tabs__container-item feedback" id="tab02">-->
<!--        <div class="feedback__container">-->
<!--          <div class="feedback__container-item feedback__container-item&#45;&#45;story story">-->
<!--            <div class="story__author user">-->

<!--              <img alt="avatar" class="user__img"-->
<!--                   src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">-->
<!--              <h2 class="user__name">-->
<!--                афонин виктор васильевич-->
<!--              </h2>-->

<!--            </div>-->
<!--            <article class="story__content">-->
<!--              <h2 class="story__content-topic">4 пары ассемблера в понедельник</h2>-->
<!--              <div class="story__content-date">Дата: 4 семестор, 2000</div>-->
<!--              <div class="story__content-discipline">Дисциплина: Ассемблер</div>-->
<!--              <p class="story__content-message">Lorem ipsum dolor sit amet, consectetur adipisicing-->
<!--                elit. Ab adipisci aperiam-->
<!--                architecto autem consectetur doloremque eaque, esse est harum ipsum laudantium-->
<!--                maxime natus necessitatibus, neque nulla optio pariatur perferendis quae quam-->
<!--                quisquam repellat repudiandae suscipit tempore temporibus ullam vel veritatis. Natus-->
<!--                nostrum quo soluta suscipit! Ab beatae dolorem, eligendi obcaecati praesentium qui-->
<!--                voluptas voluptates! Aliquam amet autem distinctio enim esse et, facilis, maxime-->
<!--                nisi nostrum perferendis, quas recusandae voluptas voluptatum. Doloribus modi,-->
<!--                perspiciatis. Accusantium, at corporis distinctio earum eius ex fugiat in iste-->
<!--                nesciunt non pariatur quae reiciendis temporibus tenetur veniam voluptate-->
<!--                voluptatum? Accusantium autem hic impedit, nam sunt veritatis.Lorem ipsum dolor sit-->
<!--                amet, consectetur adipisicing elit. Ab adipisci aperiam-->
<!--                architecto autem consectetur doloremque eaque, esse est harum ipsum laudantium-->
<!--                maxime natus necessitatibus, neque nulla optio pariatur perferendis quae quam-->
<!--                quisquam repellat repudiandae suscipit tempore temporibus ullam vel veritatis. Natus-->
<!--                nostrum quo soluta suscipit! Ab beatae dolorem, eligendi obcaecati praesentium qui-->
<!--                voluptas voluptates! Aliquam amet autem distinctio enim esse et, facilis, maxime-->
<!--                nisi nostrum perferendis, quas recusandae voluptas voluptatum. Doloribus modi,-->
<!--                perspiciatis. Accusantium, at corporis distinctio earum eius ex fugiat in iste-->
<!--                nesciunt non pariatur quae reiciendis temporibus tenetur veniam voluptate-->
<!--                voluptatum? Accusantium autem hic impedit, nam sunt veritatis.Lorem ipsum dolor sit-->
<!--                amet, consectetur adipisicing elit. Ab adipisci aperiam-->
<!--                architecto autem consectetur doloremque eaque, esse est harum ipsum laudantium-->
<!--                maxime natus necessitatibus, neque nulla optio pariatur perferendis quae quam-->
<!--                quisquam repellat repudiandae suscipit tempore temporibus ullam vel veritatis. Natus-->
<!--                nostrum quo soluta suscipit! Ab beatae dolorem, eligendi obcaecati praesentium qui-->
<!--                voluptas voluptates! Aliquam amet autem distinctio enim esse et, facilis, maxime-->
<!--                nisi nostrum perferendis, quas recusandae voluptas voluptatum. Doloribus modi,-->
<!--                perspiciatis. Accusantium, at corporis distinctio earum eius ex fugiat in iste-->
<!--                nesciunt non pariatur quae reiciendis temporibus tenetur veniam voluptate-->
<!--                voluptatum? Accusantium autem hic impedit, nam sunt veritatis.Lorem ipsum dolor sit-->
<!--                amet, consectetur adipisicing elit. Ab adipisci aperiam-->
<!--                architecto autem consectetur doloremque eaque, esse est harum ipsum laudantium-->
<!--                maxime natus necessitatibus, neque nulla optio pariatur perferendis quae quam-->
<!--                quisquam repellat repudiandae suscipit tempore temporibus ullam vel veritatis. Natus-->
<!--                nostrum quo soluta suscipit! Ab beatae dolorem, eligendi obcaecati praesentium qui-->
<!--                voluptas voluptates! Aliquam amet autem distinctio enim esse et, facilis, maxime-->
<!--                nisi nostrum perferendis, quas recusandae voluptas voluptatum. Doloribus modi,-->
<!--                perspiciatis. Accusantium, at corporis distinctio earum eius ex fugiat in iste-->
<!--                nesciunt non pariatur quae reiciendis temporibus tenetur veniam voluptate-->
<!--                voluptatum? Accusantium autem hic impedit, nam sunt veritatis. </p>-->
<!--            </article>-->
<!--            <div class="story__reactions reaction reaction&#45;&#45;positive">-->
<!--              &lt;!&ndash;                                <span class="story__reactions-icon">+42</span>&ndash;&gt;-->
<!--              <span class="story__reactions-icon reaction__value">+42</span>-->

<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--      <div class="tabs__container-item feedback" id="tab03">-->

<!--        <div class="feedback__container">-->
<!--          <div class="feedback__container-item comment">-->
<!--            <div class="comment__author user">-->

<!--              <img alt="avatar" class="user__img"-->
<!--                   src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">-->
<!--              <h2 class="user__name">-->
<!--                афонин виктор васильевич-->
<!--              </h2>-->

<!--            </div>-->
<!--            <div class="comment__content">-->
<!--              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, neque.-->
<!--            </div>-->
<!--            <div class="comment__data">42:42 42.42.4242</div>-->
<!--            <div class="comment__reactions reaction reaction&#45;&#45;negative">-->
<!--              &lt;!&ndash;                                <span class="story__reactions-icon reaction__icon">+</span>&ndash;&gt;-->
<!--              &lt;!&ndash;                                <span class="story__reactions-icon reaction__icon">-</span>&ndash;&gt;-->
<!--              <span class="story__reactions-icon reaction__value">-42</span>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
</div>
