<!--<div class="wrapper__content detail-page-container">-->

<div class="detail-page-container__info-block main-info">
  <img alt="{{teacher?.lastName}} {{teacher?.firstName | slice:1}} {{teacher?.surName | slice:1}}"
       class="main-info__img"
       src="{{teacher?.image_url}}"
  />
  <div class="main-info__content">
    <div class="main-info__content-container">
      <div class="main-info__content-container-property">Фамилия</div>
      <div class="main-info__content-container-value">
        {{teacher?.lastName}}
      </div>
    </div>
    <div class="main-info__content-container">
      <div class="main-info__content-container-property">Имя</div>
      <div class="main-info__content-container-value">
        {{teacher?.firstName}}
      </div>
    </div>
    <div class="main-info__content-container">
      <div class="main-info__content-container-property">Отчество</div>
      <div class="main-info__content-container-value">
        {{teacher?.surName ? teacher.surName : '-'}}
      </div>
    </div>
    <div class="main-info__content-container">
      <div class="main-info__content-container-property">Институт</div>
      <a class="main-info__content-container-value main-info__content-container-value--link"
         [routerLink]="['','institutes-faculties', institutefacultie?.id]"
      >{{institutefacultie?.abbreviation}}</a>
    </div>
    <div class="main-info__content-container">
      <div class="main-info__content-container-property">Кафедра</div>
      <a class="main-info__content-container-value main-info__content-container-value--link"
         [routerLink]="['','departments', department?.id]"
      >{{department?.abbreviation}}
      </a>
    </div>
    <div class="main-info__content-container">
      <div class="main-info__content-container-property">Ученая степень</div>
      <div class="main-info__content-container-value">Кандидат технических наук</div>
    </div>
    <div class="main-info__content-container">
      <div class="main-info__content-container-property">Должность</div>
      <div class="main-info__content-container-value">Доцент</div>
    </div>

  </div>
</div>

<div class="detail-page-container__info-block statistic-info">
  <h2 class="statistic-info__heading">Статистика</h2>
  <div class="statistic-info__content">
    <div class="statistic-info__content-container">
      <div class="statistic-info__content-container-total-stats total-stats">
        <svg class="total-stats__circle">
          <circle cx="calc(50%)" cy="calc(50%)" fill="none" r="110" stroke="var(--secondary-color)"
                  stroke-width="9"></circle>

        </svg>
        <div class="total-stats__content">
          <div class="total-stats__content-value">
            5.0
          </div>
          <div class="total-stats__content-value total-stats__content-value--title">
            Общая характеристика
          </div>

          <!--                            TODO: Спросить я не уверен, что я так надо... тут же будет просто переключения таба-->
          <a class="total-stats__content-value total-stats__content-value--number link link--cleared"
             href="#tab01">
            50 Отзывов
          </a>

        </div>
      </div>
      <div class="statistic-info__content-container-rating rating">
        <a class="rating__item link link--cleared" href="#">
          2 Место среди 2000 преподавателей
        </a>
      </div>
    </div>
    <div class="statistic-info__content-container">
      <div class="statistic-info__content-container-criteria criteria">
        <div class="criteria__container">
                            <span class="criteria__container-property">
                                Предметная компетенция
                            </span>
          <div class="criteria__container-value">

            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
          </div>
        </div>
        <div class="criteria__container">
          <div class="criteria__container-property">
            Объективность оценки знаний студентов
          </div>
          <div class="criteria__container-value">
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
          </div>
        </div>
        <div class="criteria__container">
          <div class="criteria__container-property">
            Ясность излагаемого материала
          </div>
          <div class="criteria__container-value">
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
          </div>
        </div>
        <div class="criteria__container">
          <div class="criteria__container-property">
            Знание возможностей новых информационных технологий и умение использовать их в
            процессе
            обучения
          </div>
          <div class="criteria__container-value">
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
          </div>
        </div>
        <div class="criteria__container">
          <div class="criteria__container-property">
            Толерантное отношение к студенту
          </div>
          <div class="criteria__container-value">
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="statistic-info__feadback">
    <button (click)="modal_creation_estimate = true"
            class="button button--link"
    >Дать характеристику
    </button>
  </div>
  <div class="statistic-info__feadback">
    <button (click)="modal_creation_story = true"
            class="button button--link"
    >Оставить историю
    </button>
  </div>
  <div class="statistic-info__feadback">
    <button (click)="modal_creation_comment = true"
            class="button button--link"
    >Оставить комментарий
    </button>
  </div>
</div>

<div class="detail-page-container__info-block tabs">

  <nav class="tabs__navigation">
    <a class="tabs__navigation-item link link--cleared"
       routerLink="estimates">
      <span class="tabs__navigation-item-text">Оценки</span>
    </a>
    <a class="tabs__navigation-item link link--cleared"
       routerLink="stories">
      <span class="tabs__navigation-item-text">Истории</span>
    </a>
    <a class="tabs__navigation-item link link--cleared"
       routerLink="comments">
      <span class="tabs__navigation-item-text">Коментарии</span>
    </a>
  </nav>
  <div class="tabs__container">
    <router-outlet></router-outlet>
  </div>

</div>
<app-modal *ngIf="modal_creation_estimate"
           title="Оценка преподавателю"
           (close)="modal_creation_estimate = false"
>
  <app-create-estimate (close)="modal_creation_estimate = false"></app-create-estimate>
</app-modal>
<app-modal *ngIf="modal_creation_story"
           title="Оставить историю"
           (close)="modal_creation_story = false"
>
  <app-create-story (close)="modal_creation_story = false"></app-create-story>
</app-modal>

<app-modal *ngIf="modal_creation_comment"
           title="Оставить комментарий"
           (close)="modal_creation_comment = false"
>
  <app-create-estimate (close)="modal_creation_comment = false"></app-create-estimate>
</app-modal>

