

  <div class="wrapper__content teachers-container">
    <aside class="teachers-container__filters filters">
      <div class="filters__label"> Фильтры</div>
      <label class="filters__item input">
        <input class="input__radio" type="radio"/>
        <span>Все сущности</span>
      </label>
      <label class="filters__item input">
        <input class="input__radio" type="radio"/>
        <span>Технические</span>
      </label>
      <label class="filters__item input">
        <input class="input__radio" type="radio"/>
        <span>Гуманитарные</span>
      </label>
      <div class="filters__container">
        <div class="filters__label filters__label--mini"> Институты/Факультеты</div>
        <label class="filters__item input">
          <input class="input input--checkbox" type="checkbox"/>
          <span class="input__label">Все</span>
        </label>
        <label class="filters__item input">
          <input class="input input--checkbox" type="checkbox"/>
          <span class="input__label">ФДП</span>
        </label>
        <label class="filters__item input">
          <input class="input input--checkbox" type="checkbox"/>
          <span class="input__label">МФИТ</span>
        </label>
        <label class="filters__item input">
          <input class="input input--checkbox" type="checkbox"/>
          <span class="input__label">ФИИ </span>
          <i class="input__icon input__icon--danger fa-solid fa-xmark"></i>
        </label>
        <label class="filters__item input">
          <input class="input__text" placeholder="Введите институт или факультет"
                 type="text"/>
          <span class="input__label"></span>
        </label>
      </div>

      <div class="filters__container">
        <div class="filters__label filters__label--mini"> Кафедры</div>
        <label class="filters__item input">
          <input class="input input--checkbox" type="checkbox"/>
          <span class="input__label">Все</span>
        </label>
        <label class="filters__item input">
          <input class="input input--checkbox" type="checkbox"/>
          <span class="input__label">АСОИУ</span>
        </label>
        <label class="filters__item input">
          <input class="input input--checkbox" type="checkbox"/>
          <span class="input__label">АПП</span>
        </label>
        <label class="filters__item input">
          <input class="input input--checkbox" type="checkbox"/>
          <span class="input__label">КС</span>
        </label>
        <label class="filters__item input">
          <input class="input input--checkbox" type="checkbox"/>
          <span class="input__label">КС</span>
        </label>


        <label class="filters__item input">
          <input class="input__text" placeholder="Введите кафедру" type="text"/>
          <span class="input__label"></span>
        </label>
      </div>
    </aside>
    <div class="teachers-container__search-block search-block">

      <label class="search-block__search input">
        <input class="input__text" placeholder="Искать"
               type="text">
      </label>


      <div class="search-block__entity-container entity-container">
        <a class="entity-container__item" href="#">
          <img alt="alt" class="entity-container__img" src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">
          <div class="search-block__name entity-container__name">Афонин Виктор Васильвич</div>
        </a>
        <a class="entity-container__item" href="#">
          <img alt="alt" class="entity-container__img" src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">
          <div class="search-block__name entity-container__name">Афонин Виктор Васильвич
          </div>
        </a>
        <a class="entity-container__item" href="#">
          <img alt="alt" class="entity-container__img" src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">
          <div class="search-block__name entity-container__name">Афонин Виктор Васильвич</div>
        </a>
        <a class="entity-container__item" href="#">
          <img alt="alt" class="entity-container__img" src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">
          <div class="search-block__name entity-container__name">Афонин Виктор Васильвич</div>
        </a>
        <a class="entity-container__item" href="#">
          <img alt="alt" class="entity-container__img" src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">
          <div class="search-block__name entity-container__name">Афонин Виктор Васильвич</div>
        </a>
        <a class="entity-container__item" href="#">
          <img alt="alt" class="entity-container__img" src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">
          <div class="search-block__name entity-container__name">Афонин Виктор Васильвич</div>
        </a>
        <a class="entity-container__item" href="#">
          <img alt="alt" class="entity-container__img" src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">
          <div class="search-block__name entity-container__name">Афонин Виктор Васильвич</div>
        </a>
        <a class="entity-container__item" href="#">
          <img alt="alt" class="entity-container__img" src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">
          <div class="search-block__name entity-container__name">Афонин Виктор Васильвич</div>
        </a>
        <a class="entity-container__item" href="#">
          <img alt="alt" class="entity-container__img" src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">
          <div class="search-block__name entity-container__name">Афонин Виктор Васильвич</div>
        </a>

      </div>
    </div>

  </div>
