<!--<div class="wrapper__content teachers-container">-->
<!--надо передать значение с типом а чё это такое....-->
<app-filter></app-filter>
<div class="teachers-container__search-block search-block">

  <label class="search-block__search input">
    <input class="input__text"
           placeholder="Искать"
           type="text">
  </label>


  <div *ngIf="teachers?.length !==0;else empty"
       class="search-block__entity-container entity-container">
    <a *ngFor="let teacher of teachers"
       class="entity-container__item"
       [routerLink]="['','teachers',teacher.id]"
    >
      <img alt="{{teacher.lastName}} {{teacher.firstName | slice:1}}."
           class="entity-container__img"
           src="{{teacher.image_url}}"
      />
      <div
        class="search-block__name entity-container__name">{{teacher.firstName}} {{teacher.lastName}} {{teacher.surName}}</div>
    </a>
  </div>
  <ng-template #empty>Нету</ng-template>
</div>

<!--</div>-->
