@import "../app/mixins";

.comment {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__author {
    margin-right: auto;
  }

  &__content {
    //overflow: hidden;
    //text-overflow: ellipsis;
    //white-space: nowrap;
  }

  &__data {
    font-size: 14px;
    margin-left: auto;
  }

  &__reactions {
    display: flex;
    gap: 8px;
    margin-left: auto;

    &-icon {
      padding: 8px;
    }
  }
}

@include small-mobile {
  .comment {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &__author {
      flex-direction: column;
      margin: auto;
      text-align: center;
    }

  }
}
