@import "../global/mixins";

.detail-page-container {
  display: grid;

  &__info-block {
    background: var(--info-bg-color);
    border: 1px solid var(--info-bg-color);
    border-radius: 8px;
    color: var(--primary-text-color);

  }
}

@include small-mobile {
  .detail-page-container {

    gap: 32px;

    &__info-block {
      padding: 8px;

    }

  }
}

@include mobile {
  .detail-page-container {
    gap: 24px;

    &__info-block {
      padding: 8px;

    }

  }
}

@include desktop {
  .detail-page-container {
    gap: 32px;

    &__info-block {
      padding: 16px;

    }

  }
}
