@import "../app/mixins/mixins";

.general-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  //вынести в отдельный блок img?
  &__img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    align-items: center;
    border-radius: 50%;
  }

  &__name {
    color: var(--heading-text-color);
    text-align: center;
    text-transform: uppercase;
  }

  &__main-words {
    color: var(--secondary-color);
    text-align: center;
  }

  &__word {
    font-weight: 600;
  }

  &__short-description {
    color: var(--positive-color);
    text-align: center;
  }
}
@include small-mobile{

}
