@import "../global/mixins";

.main-info {
  position: relative;

  display: grid;

  &__icon {
    position: absolute;
    right: 5%;
    top: 5%;

    &:hover {
      cursor: pointer;
    }
  }

  &__img {

    width: 240px;
    height: 240px;
    border-radius: 25%;
  }

  &__heading {

  }

  &__content {
    display: grid;
    gap: 8px;

    &-container {
      display: grid;

      &-property {
        color: var(--primary-text-color);
        border-bottom: 1px dotted var(--primary-text-color);

      }

      &-value {
        color: var(--primary-text-color);
        //TODO: Нужен рефакторинг - линки вынести в отдельный блок
        &--link {
          color: var(--primary-text-color);
          text-decoration: none;
        }
      }
    }
  }
}

@include small-mobile {
  .main-info {
    &__icon {
      right: 8px;
      top: 8px;
    }
    grid-template-rows: 240px 1fr;
    grid-template-columns: 1fr;
    gap: 8px;

    &__img {
      margin: 0 auto;

    }

    &__content {

      &-heading {
        text-align: center;
      }

      &-container {
        gap: 4px;
        align-items: center;
        grid-template-columns: 1fr 1fr;

        &-property {

        }

        &-value {

          &--link {

          }
        }
      }
    }
  }
}

@include mobile {


  .main-info {
    &__icon {
      right: 16px;
      top: 16px;
    }
    grid-template-columns: 240px 1fr;

    gap: 16px;

    &__img {

    }

    &__content {
      &-heading {
        text-align: center;
      }

      &-container {
        gap: 4px;
        align-items: center;
        grid-template-columns: 1fr 1fr;

        &-property {

        }

        &-value {

          &--link {

          }
        }
      }
    }
  }
}


@include desktop {
  .main-info {
    grid-template-areas: "main-info__img main-info__content";
    grid-template-columns: 240px 1fr;
    gap: 24px;
    &__icon {
      right: 16px;
      top: 16px;
    }
    &__img {
      grid-area: main-info__img;
    }

    &__content {
      display: grid;
      grid-area: main-info__content;


      &-container {
        display: grid;
        gap: 4px;
        align-items: center;
        grid-template-columns: 1fr 1fr;

        &-property {

        }

        &-value {

          &--link {

          }
        }
      }
    }
  }

}
