@import "../app/mixins";

.reaction {
  border-radius: 8px;

  &--positive {
    background: var(--positive-color);

  }

  &--negative {
    background: var(--negative-color);
  }

  &__icon {
    padding: 8px;
  }

  &__value {
    padding: 12px;

  }
}
