@import "../app/mixins";

.summary {
  display: grid;
  gap: 16px;

  &__label {
    color: var(--heading-text-color);
    text-transform: uppercase;
    text-align: center;
  }

  &__item {
    gap: 8px;
    //width: 240px;
    padding: 16px 8px;
    background: var(--info-bg-color);
    border: 1px solid var(--info-bg-color);
    border-radius: 16px;

    &:nth-child(even) {
      margin-right: auto;
      justify-content: flex-end;
    }

    &:nth-child(odd) {
      margin-left: auto;
      justify-content: flex-start;
    }
  }

  &__content {
    color: var(--primary-text-color);
    display: flex;
    gap: 16px;
  }

  &__value {

  }

  &__property {

  }

  &__description {
    color: var(--primary-text-color);

  }
}

@include small-mobile {
  .summary {

    &__label {

    }

    &__item {

      &:nth-child(even) {
        margin-right: 0;
      }

      &:nth-child(odd) {
        margin-left: 0;
      }
    }

    &__content {

    }

    &__value {

    }

    &__property {

    }

    &__description {
      //text-align: center;
    }
  }
}

@include mobile {

}

@include desktop {

}
