@import "../global/mixins";

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  //@include normalizing;

  /*max-width: 90%;*/
  background-color: var(--primary-bg-color);
  &__header{
    //@include normalizing;

    //height: 72px; //not correct
    padding: 16px 24px;
  }
  &__content{
    //@include normalizing;

    flex: 1;
    padding:  24px 0;
    //flex:1;
    width: 90%;

    margin: auto;
  }
  &__footer{
    //@include normalizing;

  }
}

