<!--<div class="wrapper__content department-container">-->
<div class="department-container__search-block search-block">
  <label class="department-container__search input">
    <input class="input__text" placeholder="Искать" type="search">
    <!--      <span class="input__icon">#</span>-->
  </label>
  <div *ngIf="departments?.length !== 0;else empty"
       class="entity-container search-block__entity-container ">
    <a *ngFor="let department of departments"
       class="entity-container__item"
       [routerLink]="['/departments',department.id]"
    >
      <img alt="alt" class="entity-container__img"
           src="{{department.image_url}}"/>
      <div class="entity-container__name">{{department.abbreviation}}</div>
    </a>
  </div>
  <ng-template #empty>Нету</ng-template>
</div>

<!--</div>-->
