<!--<div class="wrapper__content detail-page-container">-->

<div class="detail-page-container__info-block main-info">
  <img alt="" class="main-info__img"
       src="{{department?.image_url}}"/>
  <div class="main-info__content">

    <h2 class="main-info__content-heading">{{department?.name}}</h2>

    <div class="main-info__content-container">
      <div class="main-info__content-container-property">Вышестоящие подразделение</div>
      <a [routerLink]="['','institutes-faculties',instituteFacultie?.id]"
         class="main-info__content-container-value">{{instituteFacultie?.name}}</a>
    </div>
    <div class="main-info__content-container">
      <div class="main-info__content-container-property">Направление</div>
      <div class="main-info__content-container-value">{{department?.orientation}}</div>
    </div>
    <div class="main-info__content-container">
      <div class="main-info__content-container-property">Число сотрудников</div>
      <div class="main-info__content-container-value">{{administration?.length}}</div>
    </div>

  </div>
</div>
<div class="detail-page-container__info-block administration">
  <h2 class="administration__heading">Состав Кафедры</h2>
  <div *ngIf="teacher_administration.length !==0;else empty"
       class="administration__content">
    <div class=" entity-container">
      <a *ngFor="let teacher of teacher_administration"
         class="entity-container__item"
         [routerLink]="['','teachers',teacher.id]"
      >
        <img alt="alt"
             class="entity-container__img"
             src="{{teacher.image_url}}"
        />
        <div class="entity-container__name">{{teacher.role}}</div>
        <div class="entity-container__name">{{teacher.firstName}} {{teacher.lastName}} {{teacher.surName}}</div>

      </a>

    </div>

  </div>
  <ng-template #empty>Нету</ng-template>
</div>

<div class="detail-page-container__info-block statistic-info">
  <h2 class="statistic-info__heading">Статистика</h2>
  <div class="statistic-info__content">
    <div class="statistic-info__content-container">
      <div class="statistic-info__content-container-total-stats total-stats">
        <svg class="total-stats__circle">
          <circle cx="calc(50%)" cy="calc(50%)" fill="none" r="110" stroke="var(--secondary-color)"
                  stroke-width="9"></circle>

        </svg>
        <div class="total-stats__content">
          <div class="total-stats__content-value">
            5.0
          </div>
          <div class="total-stats__content-value total-stats__content-value--title">
            Общая характеристика
          </div>

          <a class="total-stats__content-value total-stats__content-value--number link link--cleared"
             href="#">
            500 Отзывов
          </a>

        </div>
      </div>
      <div class="statistic-info__content-container-rating rating">
        <a class="rating__item link link--cleared" href="#">
          2 Место среди 2000 кафедр
        </a>
      </div>
    </div>
    <div class="statistic-info__content-container">
      <div class="statistic-info__content-container-criteria criteria">
        <div class="criteria__container">
                            <span class="criteria__container-property">
                                Качество преподавательского состава
                            </span>
          <div class="criteria__container-value">

            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
          </div>
        </div>
        <div class="criteria__container">
          <div class="criteria__container-property">
            Научные и инновационные достижения
          </div>
          <div class="criteria__container-value">
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
          </div>
        </div>
        <div class="criteria__container">
          <div class="criteria__container-property">
            Оснащенность материальной базы
          </div>
          <div class="criteria__container-value">
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
          </div>
        </div>
        <div class="criteria__container">
          <div class="criteria__container-property">
            Уровень подготовки выпускников
          </div>
          <div class="criteria__container-value">
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
          </div>
        </div>
        <div class="criteria__container">
          <div class="criteria__container-property">
            Статус внеучебной деятельности
          </div>
          <div class="criteria__container-value">
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
            <i class="criteria__container-value-stars fa-regular fa-star"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="statistic-info__feadback">
    <button class="button button--link">Дать характеристику</button>
  </div>
</div>
<!--</div>-->
