@import "mixins";

.button {
  &:hover{
    cursor: pointer;
  }
  &--link {
    @include button-clear;
    color: #fff;
  }

  &--icon {
    @include button-clear;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    color: #fff;

    &--active,
    &:hover {
      color: red;
    }
  }
}