@import "mixins";

.feedback {
  padding: 20px;

  &--stats {
  }



  &--comment {

  }

  &__container {
    display: grid;
    //justify-content: center;
    //align-items: center;
    //gap: 16px;
    max-height: 50vh;
    overflow-y: auto;
    &-item {

      margin: 16px;

      padding: 16px;
      border-radius: 8px;
      border: 1px solid var(--primary-text-color);
      &--story {
        margin: 16px auto;

        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

    }
  }
}