@import "mixins";

.header {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--attent-bg-color);
  height: 72px; //may be correct, check _wrapper

  &__logo {
    flex: 1;
  }

  &__main-menu {
    flex: 3;
  }

  &__user {

    flex: 1;
  }

}

@include desktop {

}

@include mobile {

}
