@import "mixins";
.information{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  &__general-info{

  }
  &__usage{
    justify-content: center;

  }
  &__summary{

  }
}
