.input {
  position: relative;

    &__radio {

    }

    &__checkbox {

    }

    &__text {
      display: block;
      width: 100%;
      border: 0;
      border-radius: 8px;
      min-height: 32px;
      padding: 6px 8px;

      &:focus {
        padding: 5px 7px;
        outline: 0;
        border: 1px solid var(--info-text-color);
      }

      &--big-size {
        padding: 8px 12px;
        min-height: 48px;

        &:focus {
          padding: 6px 10px;
          outline: 0;
          border: 2px solid var(--info-text-color);
        }
      }
    }

    &__password {

    }


  &__label {

    &--big-size {

    }

    &--small-size {

    }
  }

  &__icon {
    color: var(--info-text-color);
    position: absolute;
    right: 1%;
    //right: -70%;
    top: 29%;
    &:hover{
      cursor: pointer;
    }
  }
}