@import "mixins";

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
  justify-content: flex-start;
  flex-shrink: 0;
  max-height: 40px;
  text-decoration: none;
  &__img{
    width: 40px;
    height: 40px;
    background-size:cover;
    border-radius: 50%;
    object-fit: cover;
  }
  &__name{
    text-decoration: none;
    text-transform: uppercase;
    font: 24px/24px Roboto;
    color: var(--primary-text-color);
    font-weight: 400;
    margin: 0 0;
    flex-shrink: 0;
  }
  &:hover{
    cursor: pointer;
  }
  &:focus{
    text-decoration: none;
  }
}