@mixin small-mobile{
  @media screen and (max-width: 680px) {
    @content
  }
}
@mixin mobile {
  @media screen and (min-width:680px) and (max-width: 1075px) {
    @content
  }

}

@mixin desktop {
  @media screen and (min-width: 1075px) {
    @content
  }
}
@mixin base-text{

}
@mixin button-clear {
  appearance: none;
  border: none;
  background: none;
}

//@mixin links-clear {
//  text-decoration: none;
//  &:focus{
//    text-decoration: none;
//  }
//  &:link{
//
//  }
//  &:visited{
//
//  }
//  &:active{
//
//  }
//}