@import "mixins";

.statistic-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  //@include normalizing;
  &__content {
    display: flex;
    flex: 400px;
    gap: 8px;

    &-container {
      flex: 1;
      display: grid;
      //padding: 8px;
      gap: 16px;
      &-total-stats{

      }
      &-rating{

      }
    }
  }

  &__feadback {
    margin-left: auto;
    flex: 20px;
    padding: 8px;
    border: 1px solid var(--primary-text-color);
    border-radius: 8px;
  }

}

@include small-mobile {
  .statistic-info {
    &__content {
      flex-direction: column;

      &-container {

        &-total-stats {

        }

        &-rating {

        }
      }
    }

    &__feadback {
      margin: 0 auto;

    }
  }
}

@include mobile {
  .statistic-info {
    &__content {
      //flex-direction: column;

      &-container {

        &-total-stats {

        }

        &-rating {

        }
      }
    }

    &__feadback {
      margin: 0 auto;

    }
  }
}

@include desktop {
  .statistic-info {
    &__ {

    }
  }
}