@import "mixins";

.teachers-container {
  display: grid;

  &__filters {

  }

  &__search-block {

  }

  &__search {

  }

  &__entity-container {

  }

}

@include mobile {
  .teachers-container {


    &__filters {
      display: none;

    }

    &__search-block {

    }

    &__search {

    }

    &__entity-container {

    }
  }
}

@include desktop {

  .teachers-container {
    grid-template-areas: "teachers-container__filters teachers-container__search-block";
    grid-template-columns: 300px 1fr;

    &__filters {
      grid-area: teachers-container__filters;
      border: 1px solid var(--info-bg-color);
      border-radius: 8px;

    }

    &__search-block {
      grid-area: teachers-container__search-block;
      //padding: 20px 0;
    }

    &__search {
      position: sticky;

    }

    &__entity-container {

    }
  }
}