@import "mixins";
.teacher-container {
  display: grid;
  &__main-info {
    background: var(--info-bg-color);
    border: 1px solid var(--info-bg-color);
    border-radius: 8px;
    color: var(--primary-text-color);
  }

  &__statistic-info {

  }

  &__tabs {

  }

}
@include mobile{

}
@include desktop{

}