

  <div class="wrapper__content ins-faculties">
    <aside class="ins-faculties__filters filters">
      <div class="filters__label"> Фильтры</div>

      <label class="filters__item">
        <input type="radio"/>
        <span>Все сущности</span>
      </label>
      <label class="filters__item">
        <input type="radio"/>
        <span>Технические</span>
      </label>
      <label class="filters__item">
        <input type="radio"/>
        <span>Гуманитерные</span>
      </label>

    </aside>
    <div class="ins-faculties__search-block search-block">
      <label class="search-block__search input">
        <input class="input__text" placeholder="Искать" type="text">
        <span class="input__icon">#</span>
      </label>
      <!--            TODO:мб сделать статус с приоритетом в правой верхней части картинки?Лучше не надо наверн....-->

      <div class="search-block__entity-container entity-container">
        <a class="search-block__item entity-container__item" href="#">
          <img alt="alt" class="search-block__img entity-container__img" src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">
          <div class="search-block__name entity-container__name">Институт электроники и светотехники</div>
        </a>
        <a class="search-block__item entity-container__item" href="#">
          <img alt="alt" class="search-block__img entity-container__img" src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">
          <div class="search-block__name entity-container__name">Институт электроники и светотехники Институт электроники и светотехники</div>
        </a>
        <a class="search-block__item entity-container__item" href="#">
          <img alt="alt" class="search-block__img entity-container__img" src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">
          <div class="search-block__name entity-container__name">Институт электроники и светотехники</div>
        </a>
        <a class="search-block__item entity-container__item" href="#">
          <img alt="alt" class="search-block__img entity-container__img" src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">
          <div class="search-block__name entity-container__name">Институт электроники и светотехники</div>
        </a>
        <a class="search-block__item entity-container__item" href="#">
          <img alt="alt" class="search-block__img entity-container__img" src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">
          <div class="search-block__name entity-container__name">Институт электроники и светотехники</div>
        </a>
        <a class="search-block__item entity-container__item" href="#">
          <img alt="alt" class="search-block__img entity-container__img" src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">
          <div class="search-block__name entity-container__name">Институт электроники и светотехники</div>
        </a>
        <a class="search-block__item entity-container__item" href="#">
          <img alt="alt" class="search-block__img entity-container__img" src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">
          <div class="search-block__name entity-container__name">Институт электроники и светотехники</div>
        </a>
        <a class="search-block__item entity-container__item" href="#">
          <img alt="alt" class="search-block__img entity-container__img" src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">
          <div class="search-block__name entity-container__name">Институт электроники и светотехники</div>
        </a>
        <a class="search-block__item entity-container__item" href="#">
          <img alt="alt" class="search-block__img entity-container__img" src="https://steamuserimages-a.akamaihd.net/ugc/844839649408866634/AFE908B50170F0F8B2F096201F727F56CF2DA44B/">
          <div class="search-block__name entity-container__name">Институт электроники и светотехники</div>
        </a>

      </div>
    </div>

  </div>
